<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="src/styles/main.css" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&family=Material+Icons&display=swap"
            rel="stylesheet">
        <title>Cranach Digital Archive</title>
    </head>

    <body>
        <header class="page-header">
            <div class="page-header__inner">
                <h1 class="page-header__title">CDA_</h1>
                <button class="page-header__settings">menu</button>
                <div class="settings">
                    <div class="settings__about">
                        <p>
                            Lucas Cranach der Ältere (1472 – 1553) gehört zu den bedeutendsten Malern und Grafikern der deutschen Renaissance.
                            Bereits seine Zeitgenossen waren beeindruckt von der Geschwindigkeit mit der Cranach produzierte: Weltweit sind heute
                            noch mehr als 1500 Gemälde aus der Cranach-Werkstatt erhalten, und diese repräsentieren nur einen Bruchteil des
                            ursprünglichen Werkbestandes. Eine beträchtliche Anzahl der erhaltenen Gemälde wurde bisher nicht wissenschaftlich
                            bearbeitet.
                        </p>
                        <p>
                            Im Verbund mit 310 Partnern in 31 Ländern arbeiten der Kunstpalast in Düsseldorf und die
                            Technischer Hochschule Köln
                            seit Oktober 2009 gemeinsam an einem Forschungsprojekt zur digitalen Erschließung der
                            Gemälde von Lucas Cranach dem
                            Älteren, unterstützt von der Andrew W. Mellon Foundation.
                        </p>
                        <p>
                            Das interdisziplinäre Projektteam konnte bislang Datensätze von über 1.900 Gemälden
                            auf­bereiten, insgesamt mehr als
                            16.500 Abbildungen (u.a. hochaufgelöste Gesamt- und Detailaufnahmen, Infrarotreflektografien
                            und Röntgenaufnahmen) sowie
                            über 1.200 digitalisierte und transkribierte Archivdokumente. Die Daten werden stetig
                            erweitert und den Aus­tausch über
                            neueste Forschungsresultate zu Cranachs Bildern sichtbar erleichtern.
                        </p>
                    </div>
                    <div class="settings__form">
                        <div class="settings__element">
                            <label class="settings__element-title" for="settings__darkmode">Darkmode</label>
                            <input class="settings__element-input" type="checkbox" name="settings__darkmode" checked
                                id="settings__darkmode">
                        </div>
                        <div class="settings__element">
                            <label class="settings__element-title" for="settings__preview-size">Vorschaubilder</label>
                            <select class="settings__element-input" name="settings__preview-size"
                                id="settings__preview-size">
                                <option value="small" selected>klein</option>
                                <option value="medium">mittel</option>
                                <option value="big">groß</option>
                            </select>
                        </div>
                        <div class="settings__element">
                            <label class="settings__element-title" for="settings__language">Sprache</label>
                            <select class="settings__element-input" name="settings__language" id="settings__language">
                                <option value="de" selected>Deutsch</option>
                                <option value="en">English</option>
                            </select>
                        </div>
                        <form action="" method="post" class="settings__element settings__element--onecol">
                            <h4 class="settings__element-title">Login</h4>
                            <input type="text" id="login__username" name="login__username" placeholder="Nutzername">
                            <input type="password" id="login__password" name="login__password" placeholder="Passwort">
                            <input type="submit" value="einloggen">
                            <label for="login__remember">
                                <input type="checkbox" name="login__remember" checked
                                    id="login__remember">
                                    angemeldet bleiben
                            </label>
                            
                        </form>
                    </div>
                </div>
                <label class="page-header__button" for="settings__collapse-all">unfold_more</label>
                <input type="checkbox" name="collapse_all" checked id="settings__collapse-all">
            </div>
        </header>

        {{#periods}}

        <section class="period">
            <header class="period-header" tabindex="0">
                <h2 class="period-header__year">{{period}}</h2>
                <span class="period-header__meta">{{artefacts.length}}</span>
                <span class="period-header__icon">expand_less</span>
            </header>

            <ul class="period-list">

                {{#artefacts}}
                <li class="period-list__item" data-inventoryNumber="{{ inventoryNumber }}" data-objectId="{{ objectId }}"
                    data-objectName="{{ objectName }}" data-title-de="{{ de.titles.0.title }}"
                    data-title-en="{{ en.titles.0.title }}" data-isBestOf="{{ isBestOf }}"
                    data-prev="{{ prev }}" data-next="{{ next }}" tabindex="0">
                    <a href="#/de/{{ inventoryNumber }}/" class="artefact" title="{{ de.titles.0.title }}" >
                        <!--<img src="{{ images.sizes.s.src }}"
                             srcset="{{ images.sizes.xs.src }} {{ images.sizes.xs.dimensions.width }}w,
                                     {{ images.sizes.s.src }} {{ images.sizes.s.dimensions.width }}w,
                                     {{ images.sizes.m.src }} {{ images.sizes.m.dimensions.width }}w"
                             sizes="(min-width: 940px) 140px, 33vw"
                             alt="{{ de.titles.0.title }}" class="artefact__image">-->
                        <img src="{{ images.sizes.s.src }}" alt="{{ de.titles.0.title }}" class="artefact__image">
                    </a>
                </li>
                {{/artefacts}}
            </ul>
        </section>

        {{/periods}}

        <div class="singleview"></div>
        <div class="lang-chooser">
            <p class="lang-chooser__text">Bitte wählen Sie eine Sprache aus.</p>
            <p class="lang-chooser__text lang-chooser__text--secondary">Please choose a language.</p>
            <ul class="lang-chooser__list">
                <li>
                    <a href="#/de/" class="lang-chooser__bubble">Deutsch</a>
                </li>
                <li>
                    <a href="#/en/" class="lang-chooser__bubble">English</a>
                </li>
            </ul>
        </div>
        <div class="background"></div>

        <script src="https://unpkg.com/mustache@latest/mustache.min.js"></script>
        <script src="src/scripts/singleview.js" async></script>
        <script src="src/scripts/accordion.js" async></script>
        <script src="src/scripts/langChooser.js" async></script>
        <script src="src/scripts/main.js" async></script>
    </body>

</html>