<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="src/styles/main.css" rel="stylesheet">
        <script src="src/scripts/index.js"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&family=Material+Icons&display=swap"
            rel="stylesheet">
        <title>Document</title>
    </head>

    <body>
        <header class="page-header">
            <div class="page-header__inner">
                <h1 class="page-header__title">CDA_</h1>
                <form>
                    <select name="language" class="page-header__lang">
                        <option value="de">Deutsch</option>
                        <option value="en">English</option>
                    </select>
                </form>
            </div>
        </header>

        {{#periods}}

        <section class="period">
            <header class="period-header">
                <h2 class="period-header__year">{{period}}</h2>
                <span class="period-header__meta">{{artefacts.length}}</span>
                <span class="period-header__icon">expand_less</span>
            </header>

            <ul class="period-list">

                {{#artefacts}}
                <li class="period-list__item" data-inventoryNumber="{{ inventoryNumber }}" data-objectId="{{ objectId }}"
                    data-objectName="{{ objectName }}" data-titleDe="{{ de.titles.0.title }}" data-isBestOf="{{ isBestOf }}">
                    <a href="#/{{ inventoryNumber }}/" class="artefact" title="{{ de.titles.0.title }}">
                        <img src="{{ images.sizes.s.src }}"
                             srcset="{{ images.sizes.xs.src }} {{ images.sizes.xs.dimensions.width }}w,
                                    {{ images.sizes.s.src }} {{ images.sizes.s.dimensions.width }}w,
                                    {{ images.sizes.m.src }} {{ images.sizes.m.dimensions.width }}w"
                             sizes="(min-width: 940px) 140px, 33vw"
                             alt="{{ de.titles.0.title }}" class="artefact__image">
                    </a>
                </li>
                {{/artefacts}}
            </ul>
        </section>

        {{/periods}}

        <div class="singleview"></div>
    </body>

</html>