.page-header {
    background-color: $background-color;
    border-bottom: $border-width solid $darkest;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    &_inner {
        display: flex;
        max-width: $content-width;
    }
}
