.page-header {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: $border-width solid $darkest;
    background-color: $background-color;
    transition: all $tr-easeinoutquart $tr-medium;

    @media screen and (max-width: $bp-small) {
        top: auto;
        bottom: 0;
        border-bottom: none;

        &__lang {
            display: none;
        }

        &--open {
            top: 0;

            label[for='settings__collapse-all'] {
                display: none;
            }
        }
    }

    &--open .settings {
        display: grid;
    }

    &__inner {
        display: flex;
        max-width: $content-width;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: $m $page-margin;
        margin: 0 auto;
    }

    &__title {
        @include typo-header2;
    }

    &__button {
        @include material-icon;
        cursor: pointer;
        font-size: $xl;

        & + input[type="checkbox"] {
            display: none;
        }
    }

    &__settings {
        @include material-icon;
        cursor: pointer;
        font-size: $xl;
    }
}

@media screen and (min-width: $bp-small) {
    label[for='settings__collapse-all'] {
        display: none;
    }
}
