.page-header {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: $border-width solid $darkest;
    background-color: $background-color;

    @media screen and (max-width: $bp-small) {
        top: auto;
        bottom: 0;
        border-top: $border-width solid $darkest;
        border-bottom: none;

        &__lang {
            display: none;
        }
    }

    &__inner {
        display: flex;
        max-width: $content-width;
        align-items: center;
        justify-content: space-between;
        padding: $m $page-margin;
        margin: 0 auto;
    }

    &__title {
        @include typo-header2;
    }

    &__button {
        @include material-icon;
        cursor: pointer;
        font-size: $xl;

        & + input[type="checkbox"] {
            display: none;
        }
    }
}

@media screen and (min-width: $bp-small) {
    label[for='settings__collapse-all'] {
        display: none;
    }
}
