.lang-chooser {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: calc(100vw - 20px * 2);
    color: $c-sec-2;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);

    &--visible {
        opacity: 1;
        pointer-events: all;
    }

    &__text {
        @include typo-title2;
        margin: 0 0 $xs 0;
        text-align: center;

        &--secondary {
            color: $c-sec-4;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: $m 0;
    }

    &__bubble {
        display: block;
        color: inherit;
        text-decoration: none;

        @include button;

    }
}
