// Parent
.period {
    margin: 0 auto;
    max-width: $content-width + 2 * $page-margin;
    
    @media screen and (min-width: $bp-small) {
        &:first-of-type {
            margin-top: $m * 2 + $xl + $border-width + $xxl;
        }

        &:last-of-type {
            margin-bottom: $xxl;
        }
    }

    @media screen and (max-width: $bp-small) {
        &:last-of-type {
            margin-bottom: $m * 2 + $xl + $border-width + $xxl;
        }
    }
}

// Header
.period-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: $xl 0;
    padding: 0 $page-margin;

    @media screen and (max-width: $bp-small) {
        background-color: $c-sec-6;
        color: $lightest;
        padding: $s $page-margin;
        margin: 0 0 $grid-space-small 0;
    }

    &__year {
        @include typo-header1;
        margin-right: $l;
        order: 0;

        @media screen and (max-width: $bp-small) {
            @include typo-title2;
        }
    }

    &__meta {
        @include typo-meta;
        align-items: center;
        color: $c-sec-4;
        display: flex;
        margin: 0 $l;
        order: 3;

        &::before {
            @include material-icon;
            content: 'image';
            display: inline-block;
            font-size: $l;
            margin-right: $xxs;
        }

        @media screen and (max-width: $bp-small) {
            margin: 0;
        }
    }

    &__icon {
        @include material-icon;
        font-size: $xl;
        margin-left: $l;
        order: 4;
        cursor: pointer;

        @media screen and (max-width: $bp-small) {
            display: none;
        }
    }

    &::before,
    &::after {
        border-bottom: 1px solid $c-sec-4;
        content: '';
        display: block;
        width: 100%;

        @media screen and (max-width: $bp-small) {
            content: none;
        }
    }

    &::before {
        order: 1;
    }

    &::after {
        order: 3;
    }
}

// List
.period-list {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-column-gap: $grid-space-big;
    grid-row-gap: $grid-space-big;
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
    padding: 0 $page-margin;

    @media screen and (max-width: $bp-small) {
        padding: 0;
        margin-bottom: $grid-space-small;
        grid-row-gap: $grid-space-small;
        grid-column-gap: $grid-space-small;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        position: relative;
        
        &::before {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }

    &--minified {
        height: 0;

        @media screen and (max-width: $bp-small) {
            margin-bottom: 0;
        }
    }
}

.artefact,
.artefact__image {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
