.settings {
    display: none;
    overflow: scroll;
    width: 100%;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-column-gap: $grid-space-big;
    grid-row-gap: $grid-space-big;
    grid-template-columns: repeat(6, 1fr);

    &__about {
        grid-column: 1 / span 4;

        & p{
            margin: $m 0;
            line-height: $lh-default;
        }

        @media screen and (max-width: $bp-small) {
            display: none;
        }
    }

    &__form {
        grid-column: 5 / span 2;

        @media screen and (max-width: $bp-small) {
            grid-column: 1 / span 6; 
        }
    }

    &__element {
        display: grid;
        padding-bottom: $m;
        border-bottom: $border-width solid $c-sec-4;
        margin-top: $m;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        grid-column-gap: $grid-space-big;
        grid-row-gap: $grid-space-big;
        grid-template-columns: repeat(2, 1fr);

        &-title {
            align-self: center;
            font-weight: $fw-bold;
            justify-self: start;
        }

        &-input {
            align-self: center;
            justify-self: end;
        }

        &--onecol {
            grid-template-columns: repeat(1, 1fr);
        }


    }

    &__element:last-child {
        border-bottom: none;
    }
}