.singleview-container {
    background-color: $overlay-color;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
    &--visible {
        pointer-events: all;
        opacity: 1;
    }
}
