.singleview {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    display: grid;
    width: $content-width;
    max-width: 100vw;
    height: $content-width / 2;
    max-height: 100vh;
    border: $border-width solid $lightest;
    background-color: $c-sec-6;
    color: $lightest;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);

    @media screen and (max-width: $bp-small) {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 100%;
    }

    &--visible {
        opacity: 1;
        pointer-events: all;
    }

    &__artefact {
        background-color: $darkest;
        grid-column: 1 / 1;
        grid-row: 1 / span 3;

        @media screen and (max-width: $bp-small) {
            height: 40vh;
            max-height: 400px;
            grid-row: 1 / 1;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__controls {
        margin: ($m - $xxs) ($m - $xxs);
        justify-self: end;

        @media screen and (max-width: $bp-small) {
            grid-row: 2 / 2;
        }
    }

    &__back,
    &__fav,
    &__forward,
    &__close {
        @include material-icon;
        padding: $xxs;
        color: $lightest;
        font-size: $l;
        text-decoration: none;
    }

    &__close {
        position: absolute;
        top: $xxs;
        left: $xxs;
    }

    &__text {
        @include typo-text;
        margin: 0 $m;
        margin-bottom: 0;
        overflow-y: scroll;
    }

    &__meta {
        @include typo-meta;
    }

    &__title {
        @include typo-title;
        padding: $m;

        @media screen and (max-width: $bp-small) {
            grid-row: 3 / 3;
        }
    }
}
