@mixin typo-header1 {
    font-size: $xxl;
    font-weight: $fw-bold;
    line-height: $lh-tight;
}

@mixin typo-header2 {
    font-size: $xl;
    font-weight: $fw-bold;
    line-height: $lh-tight;
}

@mixin typo-title {
    font-size: $l;
    font-weight: $fw-bold;
    line-height: $lh-tight;
}

@mixin typo-title2 {
    font-size: $l;
    font-weight: $fw-bold;
    line-height: $lh-tight;
}

@mixin typo-text {
    font-size: $base-font-size;
    font-weight: $fw-normal;
    line-height: $lh-default;
}

@mixin typo-meta {
    font-size: $xs;
    font-weight: $fw-bold;
    line-height: $lh-default;
}

@mixin material-icon {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}
