/**
 * Sizes
 * Renard-Serie (10)
 */
$basesize: 10px;

$xxs: 1 * $basesize;
$xs: 1.25 * $basesize;
$s: 1.6 * $basesize;
$m: 2 * $basesize;
$l: 2.5 * $basesize;
$xl: 3.15 * $basesize;
$xxl: 6 * $basesize;

/**
 * Font
 */
$font-family-sans: 'Source Sans Pro', sans-serif;
$base-font-size: $s;

// Font Weight
$fw-normal: 400;
$fw-bold: 700;

// Line Height
$lh-tight: 110%;
$lh-default: 130%;
$lh-loose: 150%;

/**
 * Color
 */
$c-prim: #FECB2F;

$c-sec-1: #F2F2F2;
$c-sec-2: #F0F0F0;
$c-sec-3: #DDDDDD;
$c-sec-4: #B4B4B4;
$c-sec-5: #444444;
$c-sec-6: #222222;
$c-sec-7: #000321;

// base
$darkest: $c-sec-5;
$darken: rgba(0, 0, 0, 0.05);

$lightest: #FFFFFF;
$lighten: rgba(255, 255, 255, 0.1);
$lighten-strong: rgba(255, 255, 255, 0.6);

// functional
$text-color: $darkest;
$background-color: $lightest;
$interaction-color: $c-prim;
$interaction-color-pressed: darken($c-prim, 0.05);

/**
 * Transitions
 */
$tr-fast: 120ms;
$tr-medium: 200ms;
$tr-slow: 750ms;

$tr-easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

/**
 * Viewports
 */

/**
 * Misc
 */
$content-width: 940px;