* {
    box-sizing: content-box;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family-sans;
    font-size: $base-font-size;
    font-weight: $fw-normal;
    hyphens: auto;
}

// typography

p {
    margin: $xs 0;
}

// form elements

select {
    padding: ($xxs / 2) 0;
    border-color: $c-sec-4;
}

input {
    padding: $xxs;
    border-color: $c-sec-4;

    &[type="text"], &[type="password"]{
        border-width: 1px;
        border-style: solid;
    }

    &[type="submit"] {
        background-color: $c-sec-6;
        color: $lightest;
        cursor: pointer;
    }
}