@mixin typo-header1 {
    font-size: $xxl;
    font-weight: $fw-bold;
    line-height: $lh-tight;
}

@mixin typo-header2 {
    font-size: $xl;
    font-weight: $fw-bold;
    line-height: $lh-tight;
}

@mixin typo-title {
    font-size: $l;
    font-weight: $fw-bold;
    line-height: $lh-tight;
}

@mixin typo-title2 {
    font-size: $m;
    font-weight: $fw-normal;
    line-height: $lh-tight;
}

@mixin typo-text {
    font-size: $base-font-size;
    font-weight: $fw-normal;
    line-height: $lh-default;
}

@mixin typo-meta {
    font-size: $xs;
    font-weight: $fw-bold;
    line-height: $lh-default;
}

@mixin material-icon {
    display: inline-block;
    direction: ltr;
    font-family: 'Material Icons';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}

@mixin button {
    padding: $s;
    border: $button-border solid $lightest;
    margin: $m;
    box-model: border-box;
    transition: border-width $tr-easeinoutquart $tr-medium,
        padding $tr-easeinoutquart $tr-medium,
        color $tr-easeinoutquart $tr-fast,
        border-color $tr-easeinoutquart $tr-fast;

    &:hover, &:focus {
        padding: $s - $button-border-active + $button-border;
        border-width: $button-border-active;
        border-color: $interaction-color;
        color: $interaction-color;
    }

    &:active {
        padding: $s - $button-border-active + $button-border;
        border-width: $button-border-active;
        border-color: $interaction-color-pressed;
        color: $interaction-color-pressed;
    }
}